#openingpage{
    text-align: center;
}

#timer{
    position:fixed;
    top: 0px;
    right: 0px;
}

#highscore{
    position: fixed;
    top: 0px;
    left: 0px;
}

#startquiz{
    background-color: blueviolet;
    color: white;
}