#openingpage{
    text-align: center;
}

#timer{
    position:fixed;
    top: 0px;
    right: 0px;
}

#highscore{
    position: fixed;
    top: 0px;
    left: 0px;
}

#startquiz{
    background-color: blueviolet;
    color: white;
}

button{
    background-color: blue;
    color: white;
    text-align: left;
    width: 150px;
}

section,article{
position:absolute;
right: 50%;
}

footer{
    position: fixed;
    bottom: 100px;
    width:1000px;
    border-bottom: 1px solid grey;
}

#correct,#wrong,#gameFinish{
    display: none;
}


